/* @import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");

@font-face {
  font-family: "Roboto-Bold";
  src: url("../Assests/Fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../Assests/Fonts/Roboto-Medium.ttf");
} */


.backgroungcolor {
  background: white;
}
.header,
.navbar {
  font-family: "Roboto", sans-serif;
}

.header {
  height: 65px;
}
.main-sec .container {
  max-width: 1240px;
}
header .navbar {
  padding-top: 0px !important;
  margin-bottom: 0px !important;
}
header .menutext {
  padding-right: 1.6%;
  margin-left: auto;
}
.navbar-brand > img {
  display: inline !important;
}
.div-header {
  display: inline-grid;
  vertical-align: middle;
}
.navitemtext a {
 
  font-family: "Roboto-Medium";
  font-size: 15px !important;
  color: #0033a0 !important;
  line-height: 15px !important;
}
.navitemtext a:hover {
  background-color: none !important;
}
nav span.heading-ttl {
 
  font-family: "Roboto-Bold";
  font-size: 18px !important;
  color: #0033a0;
  line-height: 18px !important;
}
nav span.heading-ttl:hover,
a.nav-link {
  color: #0033a0 !important;
}
a.nav-link {
  font-size: 15px;
  color: #0033a0;
  line-height: 15px;
}
nav ul {
  display: -webkit-box !important;
}
.carousel-caption.caption1 {
  right: 4% !important;
  bottom: 50% !important;
  left: 56%;
  display: flex;
}


.navbar-toggler {
  background-color: lightgrey !important;
}



@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    position: absolute;
  }
  .img-ht1 {
    height: 45px !important;
  }
  .img-ht2 {
    height: 45px !important;
  }
  .navbar > .container {
    max-width: 2048px !important;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .carousel-caption.caption1 {
    bottom: 26% !important;
    left: 48%;
  }
}
@media (max-width: 767px) {
  
  .img-ht1 {
    height: 35px !important;
  }
  .navbar-brand {
    display: flex !important;
  }
 
  .collapse.in {
    display: block !important;
  }
  .collapse {
    display: none;
  }

  .menutext {
    display: block !important;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .carousel-caption.caption1 {
    left: 36%;
    right: 14% !important;
    bottom: 30% !important;
  }
  .navbar > .container {
    max-width: 1240px !important;
  }
  .carousel-caption {
    padding-bottom: 3px !important;
  }
  
  .navbar-brand {
    margin-right: 12rem;
  }
}
@media (max-width: 575px) {
  
  .carousel-caption.caption1 {
    right: 14% !important;
    bottom: 50% !important;
    left: 9%;
  }
  img.img-ht {
    height: 300px;
  }
 
  
  ul.menutext {
    z-index: 25 !important;
    position: absolute;
    top: 88% !important;
    background: #f8f8f8 !important;
    width: 100% !important;
    left: 0 !important;
    padding-left: 15px !important;
  }
  ul.navbar-nav {
    display: block !important;
  }
}
@media (max-width: 414px) {
  .navbar {
    display: inline-block !important;
    width: 100%;
  }
  .navbar-toggle {
    margin-top: 3px;
    margin-right: -167% !important;
  }
}
@media (min-width: 415px) and (max-width: 767px) {
  .navbar-toggle {
    margin-right: -100% !important;
    margin-top: 4px;
  }
}


@media (min-width: 375px) and (max-width: 401px) {
  .navbar-toggle {
    margin-top: 9px !important;
    margin-right: -201px !important;
    padding: 6px 6px;
}
}
@media (min-width: 402px) and (max-width: 411px) {
  .navbar-toggle {
    margin-top: 6px !important;
    margin-right: -183px !important;
    padding: 6px 6px;
  }
}
@media (max-width: 360px) {
 
  .navbar-toggle {
    margin-top: -50px !important;
    margin-right: -9px !important;
  }
}
@media (max-width: 337px) {
  .navbar-toggle {
    margin-top: -47px !important;
    margin-right: -6px !important;
    padding: 5px 2px;
  }
}
